html, body {
    height:100%;
} 
@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/Roboto-Regular.ttf");
}
body{
	font-family: 'roboto-regular';
	margin: 0px;
	background-color: #FFF;
	font-size: 1.5em;
}
a{
	color: #4d4f50;
}
.contenido{
	font-size: 1.5em;
}
.logo{
	width: 100%;
	-webkit-box-shadow: 6px 6px 38px -4px rgba(0,0,0,0.57);
	-moz-box-shadow: 6px 6px 38px -4px rgba(0,0,0,0.57);
	box-shadow: 6px 6px 38px -4px rgba(0,0,0,0.57);
}
.separar50{
	margin-top: 50px;
}
.titulo{
	color:#37BDB3;
}
.btn{
	background-color: #37BDB3;
	color: #f8f8f8;
	font-size: 0.8em;
}
#footer{
	padding: 10px;
	width: 99%;
	text-align: center;
	position:fixed; 
	bottom:0%;
	z-index:999999;
	font-size: 1.5em;
	background-color: #37BDB3;
	color: #f8f8f8;
	-webkit-box-shadow: -1px -3px 38px -4px rgba(0,0,0,0.67);
	-moz-box-shadow: -1px -3px 38px -4px rgba(0,0,0,0.67);
	box-shadow: -1px -3px 38px -4px rgba(0,0,0,0.67);
}

@media only screen and (max-device-width: 480px) {
    body {
        font-size: 2.5em;
    }
}