a, a:hover,a:focus,a:active, footer a.text-link:hover, strike, .post-meta span a:hover, footer a.text-link,
ul.meta-post li a:hover, ul.cat li a:hover, ul.recent li h6 a:hover, ul.portfolio-categ li.active a, ul.portfolio-categ li.active a:hover, ul.portfolio-categ li a:hover,ul.related-post li h4 a:hover, span.highlight,article .post-heading h3 a:hover,
.navbar .nav > .active > a,.navbar .nav > .active > a:hover,.navbar .nav > li > a:hover,.navbar .nav > li > a:focus,.navbar .nav > .active > a:focus, .validation{color:#37BDB3;}
.navbar-brand span{color:#37BDB3;}
header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a{color:#37BDB3;}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{color:#37BDB3;}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus{color:#37BDB3;}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus{color:#37BDB3;}
.custom-carousel-nav.right:hover, .custom-carousel-nav.left:hover,
.dropdown-menu li:hover,
.dropdown-menu li a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.pagination ul > .active > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span,
.flex-control-nav li a:hover,
.flex-control-nav li a.active{background-color:#37BDB3;}
.breadcrumb{background-color:#37BDB3;}
.pagination ul > li.active > a,
.pagination ul > li.active > span, a.thumbnail:hover, input[type="text"].search-form:focus{border:1px solid #37BDB3;}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus{border-color:#37BDB3;}
input:focus{border-color:#37BDB3;}
#sendmessage{color:#37BDB3;}
.pullquote-left{border-left:5px solid #37BDB3;}
.pullquote-right{border-right:5px solid #37BDB3;}
.cta-text h2 span{color:#37BDB3;}
ul.clients li:hover{border:4px solid #37BDB3;}
.box-bottom{}
.btn-dark:hover,.btn-dark:focus,.btn-dark:active{background:#37BDB3;border:1px solid #37BDB3;}
.btn-theme{border:1px solid #37BDB3;background:#37BDB3;}
.modal.styled .modal-header{background-color:#37BDB3;}
.post-meta{border-top:4px solid #37BDB3;}
.post-meta .comments a:hover{color:#37BDB3;}
.widget ul.tags li a:hover{background:#37BDB3;}
.recent-post .text h5 a:hover{color:#37BDB3;}
.pricing-box-alt.special .pricing-heading{background:#37BDB3;}
.item-thumbs .hover-wrap .overlay-img-thumb{background:#37BDB3;}
#pagination a:hover{background:#37BDB3;}
.pricing-box.special .pricing-offer{background:#37BDB3;}
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover{background-color:#37BDB3;}
[class^="icon-"].active,
[class*=" icon-"].active{background-color:#37BDB3;}
.fancybox-close:hover{background-color:#37BDB3;}
.fancybox-nav:hover span{background-color:#37BDB3;}
.da-slide .da-link:hover{background:#37BDB3;border:4px solid #37BDB3;}
.da-dots span{background:#37BDB3;}
#featured .flexslider .slide-caption{border-left:5px solid #37BDB3;}
.nivo-directionNav a:hover{background-color:#37BDB3;}
.nivo-caption, .caption{border-bottom:#37BDB3 5px solid;}
footer{background:#37BDB3;}
#sub-footer{background:#37BDB3;}